<h1>Articles!<h1>

<% @articles.each do |article| %>
    <h3><%= article.title %></h3>
    <button>
        <a href="<%= article_path(article) %>">Learn More</a>
    </button>

<!-- another way to use links -->
    <button>
    <!-- put the name of the link and then where to direct it to (article_path)-->
       <%= link_to "learn more", article %>
    </button>
<% end %>
<br>
<br>
<br>
<%= link_to "create new article", new_article_path %>